body {
  background-color: #3e3;
}

#grid {
  border: 5px solid black;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 25px;
}
.cell {
  width: 8px;
  height: 8px;
  border: 1px solid #eee;
}

.snake {
  background-color: #000;
}
.food {
  background-color: red;
}
#score {
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
#end {
  position: absolute;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  height: 40vh;
  background-color: #ccc;
  transition: all 0.4s;
  text-align: center;
  border: 2px solid blue;
}
.hidden {
  display: none;
}
